<!DOCTYPE html>
<html>
	<head>
		<title>MY's Annotation Tool</title>
		<meta charset="utf-8" />
		<meta http-equiv="Content-Type" content="text/html" />
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
		<link rel="icon" href="{{ url_for('static', filename='fig/favicon.ico') }}" type="image/x-icon"> 
		<style>
			mention {
				background-color: #ffdddd;
				border-left: 6px solid #f44336;
				border-right: 6px solid #ffffff;
				cursor: pointer;
			}
            mention[score="1"] {
                background-color: #cfeef3;
                border-left: 6px solid #40bbcf;
            }
            mention[score="2"] {
                background-color: #cae5cd;
                border-left: 6px solid #60b36b;
            }
            mention[score="3"] {
                background-color: #fbfdb1;
                border-left: 6px solid #e5c500;
            }
            mention[score="4"] {
                background-color: #fee3c4;
                border-left: 6px solid #fca43d;
            }
            mention[score="5"] {
                background-color: #f8bbc5;
                border-left: 6px solid #ee6278;
            }
			.subjective {
				background-color: #ffdddd;
			}
			.objective {
				background-color: #66cdaa;
			}
			.button {
			    padding: 16px 32px;
			    text-align: center;
			    text-decoration: none;
			    display: inline-block;
			    font-size: 16px;
			    margin: 4px 2px;
			    -webkit-transition-duration: 0.25s; /* Safari */
			    transition-duration: 0.25s;
			    cursor: pointer;
			    background-color: white;
			    color: #4CAF50;
			    border: 2px solid #4CAF50;
			    position: fixed;
			    bottom: 0px;
			}
			.button:hover {
			    background-color: #4CAF50;
			    color: white;
			}
		</style>
	</head>
	<body onkeydown="enterGrep()">

		<nav class="navbar navbar-expand-lg navbar-dark bg-primary ">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavbar" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			  <span class="navbar-toggler-icon"></span>
			</button>
		  
			<div class="collapse navbar-collapse" id="mainNavbar">
			  <ul class="navbar-nav mr-auto">
				<li class="nav-item active">
				  <a class="nav-link" href="\">首頁 <span class="sr-only"></span></a>
				</li>
				<li class="nav-item dropdown">
				  <a class="nav-link dropdown-toggle" href="#" id="typeDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					文章分類
				  </a>
				  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" href="/tech">數位生活</a>
					<a class="dropdown-item" href="/makeup">美妝</a>
					<a class="dropdown-item" href="/movie">電影</a>
					<a class="dropdown-item" href="/food">食記</a>
				  </div>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="docDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						文章列表
					</a>
					<div class="dropdown-menu" id="docDropdownMenu" aria-labelledby="navbarDropdown" name="index">
						{% for i in articleList %}
							<a class="dropdown-item" href="?index={{i[0]}}">{{i[1]}}</a>
						{% endfor %}
					</div>
				</li>
			</div>
		</nav>



		<!-- <form class="" action="" method="get">
			<select class="custom-select my-1 mr-sm-2" id="selectBox", name="index">
    			{% for a in articleList %}
                    {% if a[0] == articleIndex %}
    			        <option value="{{a[0]}}" selected>{{a[1]}}</option>
                    {% else %}
    			        <option value="{{a[0]}}">{{a[1]}}</option>
                    {% endif %}
    			{% endfor %}
    		</select>
		</form> -->
		
		<div class="row " style ='padding-left: 1%; padding-top: 1%; padding-right: 1%'>
			<div class="col-sm-6">
			  <div class="card bg-light">
				<div class="card-header">
					<h5>
						文字
					</h5>
				</div>
				<div class="card-body">
					<h5 class="card-title" style ='padding-top: 1%;'>
						{% for i in articleList %}
							{% if articleIndex ==  i[0] %}
								<b>{{i[1]}}</b>
							{% endif %}
						{% endfor %}
					</h5>
				  <p class="card-text" style ='padding-top: 1%;' id="article-content_w"></p>
				</div>
			  </div>
			</div>
			<div class="col-sm-6">
			  <div class="card bg-light">
				<div class="card-header">
						<h5>
							語句
						</h5>
				</div>
				<div class="card-body">
				  <h5 class="card-title" style ='padding-top: 1%;'>
					{% for i in articleList %}
						{% if articleIndex ==  i[0] %}
							<b>{{i[1]}}</b>
						{% endif %}
					{% endfor %}
				  </h5>
				  <p class="card-text" style ='padding-top: 1%;' id="article-content_s"></p>
				</div>
			  </div>
			</div>
		</div>

		<p align="center">
			<button class="button" id="grep" style="right: 15vh;">標記</button>
			<button class="button" id="save" style="right: 5px;">存檔</button>
		</p>
		<script src="http://code.jquery.com/jquery-latest.js"></script>
		<script src="static/js/sweetalert.modified.min.js"></script>
		<!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
		<script>
			$(document).ready(function() {
                includeHTML();
                $('#selectBox').change(function() {
                    this.form.submit();
				});
                $('mention').click(setMention);
				$('#save').click(e => {
                    var data_s = document.getElementById('article-content_s').innerHTML;
					var data_w = document.getElementById('article-content_w').innerHTML;
                    result = {index: "{{articleIndex}}", articleType: "{{articleType}}", data_s: data_s, data_w: data_w};

					$.ajax({
					    type: 'POST',
					    contentType: 'application/json',
					    data: JSON.stringify(result),
						dataType: 'json',
					    url: '/save',
					    success: function (e) {
					        console.log(e);
					    }
					});
					swal({
						title: 'Save!',
						text: '大大辛苦了 >////<',
						content: "",
					});
				});
				// $('#save').click(e => {
                //     var data = document.getElementById('article-content').innerHTML;
                //     result = {index: "{{articleIndex}}", articleType: "{{articleType}}", data: data};

				// 	$.ajax({
				// 	    type: 'POST',
				// 	    contentType: 'application/json',
				// 	    data: JSON.stringify(result),
				// 		dataType: 'json',
				// 	    url: '/save',
				// 	    success: function (e) {
				// 	        console.log(e);
				// 	    }
				// 	});
				// 	swal({
				// 		title: 'Save!',
				// 		text: '大大辛苦了 >////<',
				// 		content: "",
				// 	});
				// });

				$('#grep').click(e => {
					sel = window.getSelection();

					if ( (!sel.anchorNode || !sel.focusNode) || (sel.anchorNode == sel.focusNode && sel.anchorOffset == sel.focusOffset) ) {
						swal('No selection!', '', 'error');
						return false;
					}

					var e0 = sel.anchorNode.parentNode;
					var e1 = sel.focusNode.parentNode;

					console.log(e0);
					console.log(e1);

					if ( e0.nodeName != 'WORD' || e1.nodeName != 'WORD' ) {
						swal('Invalid range!', 'unknown starting/ending point!', 'error');
						return false;
					}

					if ( $(e0).parents().is('mention') || $(e1).parents().is('mention') ) {
						swal('Invalid range!', 'contained in another mention!', 'error');
						return false;
					}

					var range = document.createRange();
					range.setStart(e0, 0);
					range.setEnd(e1, 1);

					var contents = range.cloneContents()
					var words    = contents.children;
					if ( !$(words).is('word') ) {
						swal('Invalid range!', '', 'error');
						return false;
					}

					var mention = document.createElement("mention");
					mention.id = e0.id+'@'+e1.id;

                    $(mention).attr('score', 0);
                    $(mention).attr('text', sel);
					$(mention).append(contents);
					range.deleteContents();
					range.insertNode(mention);

					$(mention).click(setMention);
					$(mention).trigger('click');
				});
			});

            // function includeHTML() {
            //     var content = '{{article}}';
            //     $('#article-content').html($('<div />').html(content).text());
            //     $('#article-content2').html($('<div />').html(content).text());
            // };

            function includeHTML() {
                var content_s = '{{article_s}}';
                var content_w = '{{article_w}}';
                $('#article-content_s').html($('<div />').html(content_s).text());
                $('#article-content_w').html($('<div />').html(content_w).text());
            };

            function enterGrep() {
                if (event.keyCode == 13) {
					$('#grep').trigger('click');
					event.preventDefault();
				};
            }
			function setMention() {
                console.log('hi');
				swal({
					title: 'I am a mention!',
					text:
							'id='+$(this).attr('id')+'\n'+
							'score='+$(this).attr('score')+'\n'+
                            'text='+$(this).attr('text')+'\n',
					buttons: {
						// subjective: true,
						// objective: true,
                        1: true,
                        2: true,
                        3: true,
                        4: true,
                        5: true,
                        delete: true,
						cancel: true
					}
				}).then(score => {
					if ( score === null ) { return; }
					switch (score) {
						case 'delete':
							$(this).replaceWith($(this).children());
						default:
							$(this).attr('score', score);
					}
				});
				$('button.swal-button--delete').parent().before('<hr>')
			}
		</script>

	</body>
</html>
